.header-andres{
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}
.header-andres>.menu-header{
  display: flex;
}

.header-andres>.menu-header>.link-header{
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
}
.cont-logo{
  width: 60px;
}
.logoheader{
  width: 100%;
  cursor: pointer;
}
