
.generalLanding{
  height: 75%;
  overflow-y: auto;
}
.generalLanding::-webkit-scrollbar {
  display: none;
}
/* 
#me {
  text-align: right;
  margin-right: 40%;
  margin-top: 25vh;
}
#las {
  font-size: 8vw;
}
#dev {
  font-size: 3vw;
}
#lema {
  font-size: 2vw;
}
@media (max-width: 1200px) {
  #me {
    text-align: right;
    margin-right: 35vw;
    margin-top: 25vh;
  }
}
@media (max-width: 800px) {
  #me {
    margin-top: 25vh;
    margin-right: 0%;
    text-align: center;
  }
  #las {
    font-size: 10vw;
  }
  #dev {
    font-size: 5vw;
  }
  #lema {
    font-size: 3.5vw;
  }
}
@media (max-width: 500px) {
  #me {
    margin-top: 30%;
    margin-bottom: 10px;
    width: 100vw;
  }
}
@media (max-width: 370px) {
  #me {
    margin: auto;
    margin-top: 15%;
    text-align: center;
  }
}
@media (max-height: 450px) {
  #me {
    margin: auto;
    margin-top: 0%;
    text-align: center;
  }
} */
