.aboutme-container::-webkit-scrollbar {
  display: none;
}
@media (orientation: landscape) {
  .aboutme-container {
    display: flex;
    margin: 5%;
    justify-content: center;
    height: calc(100vw * 0.4);
    /* background-color: rgba(0, 0, 0, 0.2); */
    align-items: center;
  }
  .text {
    margin-left: 5vw;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}
@media (orientation: portrait) {
  .aboutme-container {
    min-height: calc(100vw * 2);
  }
  .text {
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 80%;
    margin: auto;
  }
}
@media (orientation: portrait) and (max-width: 330px) {
  .aboutme-container {
    min-height: calc(100vw * 2.7);
  }
}
@media (orientation: portrait) and (max-width: 290px) {
  .aboutme-container {
    min-height: calc(100vw * 2.9);
  }
}
