.aboutme-container {
  margin-top: 20px;
  height: 350px;
  background-color: transparent;
  overflow-y: auto;
}
.aboutme-container::-webkit-scrollbar {
  display: none;
}
@media (orientation: portrait) {
  .aboutme-container {
    height: 400px;
  }
}
@media (max-height: 300px) {
  .aboutme-container {
    height: 400px;
  }
}
