.contactme-container {
  display: flex;
  height: 700px;
  width: 60%;
  margin: auto;
  align-items: center;
  flex-direction: column;
}
.circular {
  margin-top: 15px;
}
.error {
  background-color: salmon;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 4px;
  margin-top: 5px;
  border-radius: 6px;
  border: solid 2px rgb(236, 91, 91);
}
.success {
  background-color: rgb(35, 211, 211);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 4px;
  margin-top: 5px;
  border-radius: 6px;
  border: solid 2px rgb(12, 105, 105);
}
#intro {
  margin-top: 70px;
  align-self: flex-start;
  color: var(--text-color-dark);
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 30px;
}
#intro span {
  height: 20px;
  margin-bottom: -4px;
  width: 2px;
  background: var(--footer-color-dark);
  opacity: 0;
  display: inline-block;
  animation: blink 0.5s cubic-bezier(1, 0.03, 0, 0.99) infinite alternate;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#wrap {
  display: grid;
  grid-template-columns: 45% 45% 10%;
  grid-template-rows: 20% 80%;
}
.form {
  padding: 5px;
  border: hidden;
  border-radius: 5px;
  margin: 5px;
  filter: var(--shadow-sm-dark);
}
#name {
  margin-left: 0;
  grid-column: 1;
  grid-row: 1;
}
#email {
  grid-row: 1;
  grid-column: 2;
}
#body {
  margin-left: 0;
  grid-column: 1/3;
  grid-row: 2;
  resize: vertical;
}
#btn {
  display: grid;
  width: 90%;
  height: 96.5%;
  justify-content: center;
  background-color: var(--bg-color-light);
  grid-column: 3;
  grid-row: 1/3;
  align-items: center;
  cursor: pointer;
}
#btn p {
  color: var(--footer-color-light);
  font-size: 150%;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.contactme-container::-webkit-scrollbar {
  display: none;
}
@media (orientation: portrait) {
  .contactme-container {
    height: 700px;
    width: 80%;
  }
  #intro {
    margin-top: 50px;
  }
}
@media (orientation: portrait) and (max-width: 400px) {
  .contactme-container {
    height: 1000px;
    width: 80%;
  }
  #wrap {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 50% 20%;
  }
  #name {
    grid-column: 1/3;
    grid-row: 1;
    width: 100%;
  }
  #email {
    margin-left: 0;
    grid-row: 2;
    grid-column: 1/3;
    width: 100%;
  }
  #body {
    margin-left: 0;
    width: 100%;
    grid-column: 1/3;
    grid-row: 3;
  }
  #btn {
    margin-left: 0;
    width: 100%;
    height: 80%;
    grid-row: 4;
    grid-column: 1/3;
  }
  #btn p {
    writing-mode: initial;
    text-orientation: initial;
  }
}
