.contactme-container {
  margin-top: 20px;
  height: 550px;
}
.contactme-container h1 {
  color: var(--text-color-dark);
}
.contactme-container::-webkit-scrollbar {
  display: none;
}
@media (orientation: portrait) {
  .contactme-container {
    height: 400px;
  }
}
