div {
}
.sm {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 60px;
  left: 10px;
}
.smIcon {
  filter: var(--shadow-sm-dark);
  height: 30pt;
  width: 30pt;
  padding: 5px;
  display: block;
}
#copyright {
  position: fixed;
  bottom: 50px;
  padding: 0;
  right: 0;
  margin: 0;
  font-size: 10px;
  font-weight: var(--text-copyRight-dark);
  padding-right: 5px;
  text-align: end;
  font-weight: var(--text-copyRight-dark);
}
.main-footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background: linear-gradient(
      180deg,
      var(--ft-gradient-a),
      var(--ft-gradient-b)
    ),
    var(--footer-color-dark);
}

.flags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flags img {
  height: 20pt;
  width: 30pt;
  padding: 3px;
  filter: var(--shadow-ft-dark);
}

.footer {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.footer .flink {
  color: var(--ft-color-dark);
  filter: var(--shadow-ft-dark);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.toggle {
  height: 50px;
  width: 50px;
}
#toggle {
  filter: var(--shadow-ft-dark);
  height: 50px;
  width: 50px;
}
#toggle:hover {
  transform: rotateY(180deg);
}
.flink:hover {
  background-color: var(--ft-dark-hover-color);
  border-radius: 10px;
}
#fre:hover,
#esp:hover,
#eng:hover {
  transform: scale(2);
  transition: transform 1s;
}
@media (min-height: 1000px) {
  .main-footer {
    height: 75px;
  }
  #copyright {
    bottom: 75px;
  }
  .sm {
    bottom: 75px;
  }
}
@media (max-width: 800px) {
  .toggle {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .footer .flink {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footer {
    align-items: center;
    flex-direction: row;
  }
  .footer span {
    padding: 0%;
    margin: auto;
  }
}
@media (max-width: 370px) {
  .footer .flink {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .main-footer {
    height: 75px;
  }
  #copyright {
    bottom: 75px;
  }
  .sm {
    bottom: 75px;
  }
}
@media (max-height: 450px) {
  .main-footer {
    height: 50px;
  }
  #copyright {
    bottom: 50px;
  }
  .sm {
    bottom: 50px;
  }
}
@media (orientation: portrait) {
  .sm {
    flex-direction: row-reverse;
  }
}
@media (orientation: portrait) and (max-width: 330px) {
  .main-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    background: linear-gradient(
        180deg,
        var(--ft-gradient-a),
        var(--ft-gradient-b)
      ),
      var(--footer-color-dark);
  }
  #copyright {
    bottom: 90px;
  }
  .sm {
    flex-direction: row-reverse;
    bottom: 90px;
  }
  .flags {
    padding: 2px;
  }
  .flags-container {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-around;
    align-items: center;
  }
}
@media (orientation: portrait) and (max-width: 290px) {
  .main-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(
        180deg,
        var(--ft-gradient-a),
        var(--ft-gradient-b)
      ),
      var(--footer-color-dark);
  }
  #copyright {
    bottom: 100px;
  }
  .sm {
    flex-direction: row-reverse;
    bottom: 105px;
  }
  .smIcon {
    height: 20pt;
    width: 20pt;
    padding: 2px;
  }

  .flags {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-around;
    align-items: center;
  }
}
