.main-footer {
  display: flex;
  font-weight: normal;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background: linear-gradient(
      180deg,
      var(--ft-gradient-a),
      var(--ft-gradient-b)
    ),
    var(--footer-color-dark);
}
#copyright {
  position: fixed;
  bottom: 50px;
  padding: 0;
  right: 0;
  margin: 0;
  font-size: 10px;
  padding-right: 5px;
  text-align: end;
}
.footer {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.footer .flink {
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.9));
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.flags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flags img {
  height: 20px;
  width: 30px;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5));
}
.toggle {
  height: 50px;
  width: 50px;
}
#toggle {
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5));
  height: 50px;
  width: 50px;
}
#toggle:hover {
  transform: rotateY(180deg);
}
.flink:hover {
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 10px;
}
#esp:hover,
#eng:hover {
  transform: scale(1.4, 1.4);
  transition: transform 1s;
}
@media (min-height: 1000px) {
  .main-footer {
    height: 75px;
  }
}
@media (max-width: 800px) {
  .toggle {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .footer .flink {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footer {
    flex-direction: row;
  }
  .footer span {
    padding: 0%;
    margin: auto;
  }
}
@media (max-width: 370px) {
  .footer .flink {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer {
    flex-direction: column;
  }
  .main-footer {
    height: 75px;
  }
  #copyright {
    bottom: 75px;
  }
}
@media (max-height: 450px) {
  #copyright {
    bottom: 50px;
  }
  .main-footer {
    height: 50px;
  }
}
