.logo {
  display: flex;
  align-items: center;
  color: inherit;
  position: relative;
  width: 100px;
  height: 100px;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 1));
  transition: transform 1s;
}
.logo:hover {
  transform: rotateZ(360deg) scale(0.8, 0.8);
  transition: transform 1s;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 1%;
}
.header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
  /* border: solid 1px black; */
}
.header span {
  padding: 10px;
}
.hlink {
  position: relative;
}
.hlink::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}
.hlink:hover::after {
  transform: scaleX(1);
  color: white;
}

@media screen and (max-width: 800px) {
  .logo {
    margin: auto;
    margin-top: 20%;
  }
  .main-header {
    flex-direction: row;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .logo {
    margin: auto;
    margin-top: 40%;
  }
  .main-header {
    flex-direction: column;
    margin: auto;
  }
}
@media (max-width: 370px) {
  .main-header {
    flex-direction: row;
  }
  .header ul {
    flex-direction: column;
    text-align: center;
  }
  .logo {
    margin: auto;
    margin-top: 15%;
  }
  .header {
    margin-top: 5%;
  }
  .header span {
    padding: 0px;
    margin: 0%;
  }
}
