#me {
  text-align: right;
  margin-right: 50%;
  margin-top: 25vh;
}
#las {
  font-size: 56px;
}
#dev {
  font-size: 20px;
}
#lema {
  font-size: 14px;
}
@media (max-width: 1200px) {
  #me {
    text-align: right;
    margin-right: 50vw;
    margin-top: 25vh;
  }
}
@media (max-width: 800px) {
  #me {
    margin-top: 25vh;
    margin-right: 0%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  #me {
    margin-top: 30%;
    margin-bottom: 10px;
    width: 100vw;
  }
}
@media (max-width: 370px) {
  #me {
    margin: auto;
    margin-top: 15%;
    text-align: center;
  }
}
@media (max-height: 450px) {
  #me {
    margin: auto;
    margin-top: 0%;
    text-align: center;
  }
}
