.check {
  color: green;
}
@media (orientation: portrait) and (min-height: 700px) {
  .msg {
    min-height: calc(100vw * 0.4);
  }
}
@media (orientation: portrait) {
  .msg {
    min-height: calc(100vw * 0.6);
  }
}
@media (orientation: portrait) and (max-width: 400px) {
  .msg {
    min-height: calc(100vw * 1.4);
  }
}
@media (orientation: portrait) and (max-width: 330px) {
  .msg {
    min-height: calc(100vw * 1.7);
  }
}
@media (orientation: portrait) and (max-width: 290px) {
  .msg {
    min-height: calc(100vw * 2);
  }
}
