@media (orientation: landscape) {
  #pic {
    width: 35vw;
  }
}
@media (orientation: portrait) {
  #pic {
    width: 35vh;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #pic {
    margin-top: 20px;
  }
}
