#skills-container {
  min-height: auto;
  margin-bottom: 150px;
}
.skillsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}
.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw;
}
.tech img {
  filter: var(--shadow-ft-dark);
}
.tech p {
  filter: var(--shadow-header-dark);
  color: var(--text-color-dark);
  font-size: 1em;
  font-style: italic;
}
@media (orientation: portrait) {
  .tech img {
    width: 20vw;
    height: 20vw;
    max-width: 100px;
    max-height: 100px;
  }
  #programLanguages {
    width: 90%;
  }
}
@media (orientation: landscape) {
  .tech img {
    width: 20vh;
    height: 20vh;
    max-width: 100px;
    max-height: 100px;
  }
  #programLanguages {
    width: 60%;
  }
}
