#hexangon-container {
  display: flex;
  margin: auto;
  margin-top: 2em;
}
.hexangon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  filter: var(--shadow-header-dark);
}
#hexagon:hover {
  background-color: var(--ft-text-dark);
}
