@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.cContainer {
  /* border: solid 1px black; */
  /* margin-top: 10%; */
}
body {
  padding: 0;
  margin: 0 auto;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #292a2e;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  color: white;
  height: fit-content;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
}
.link {
  display: flex;
  color: inherit;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
