@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");
:root {
  --bg-img: url("./images/hive.svg");
  --bg-light-img: url("./images/light-hive.svg");
  --bg-img-portrait: url("./images/hive-portrait.svg");
  --bg-light-img-portrait: url("./images/light-vertical-hive.svg");
  --bg-color-dark: #292a2e;
  --bg-color-light: #b8b8b8;
  --ft-color-dark: #ffffff;
  --text-color-dark: #ffffff;
  --text-color-light: #000000;
  --footer-color-dark: #b8b8b8;
  --footer-color-light: #292a2e;
  --bg-gradient-dark-a: rgba(255, 255, 255, 0.3) 0%;
  --bg-gradient-dark-b: rgba(255, 255, 255, 0) 100%;
  --bg-gradient-light-a: rgba(255, 255, 255, 0.9) 0%;
  --bg-gradient-light-b: rgba(255, 255, 255, 0) 100%;
  --ft-gradient-a: rgba(255, 255, 255, 0.3) 0%;
  --ft-gradient-b: rgba(255, 255, 255, 0) 100%;
  --ft-dark-hover-color: rgba(95, 94, 94, 0.281);
  --ft-light-hover-color: rgba(209, 202, 202, 0.178);
  --shadow-ft-dark: drop-shadow(3px 3px 2px rgb(27, 27, 27));
  --shadow-header-dark: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.651));
  --shadow-header-light: drop-shadow(4px 4px 3px rgb(0, 0, 0));
}
.general-container > {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
.link {
  display: flex;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
span,
p,
h1,
h2,
h3,
h4 {
  color: var(--text-color-dark);
}
#root {
  background: var(--bg-img),
    linear-gradient(
      180deg,
      var(--bg-gradient-dark-a),
      var(--bg-gradient-dark-b)
    ),
    var(--bg-color-dark);
  width: 100%;
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}
@media (orientation: portrait) {
  #root {
    background: var(--bg-img-portrait),
      linear-gradient(
        180deg,
        var(--bg-gradient-dark-a),
        var(--bg-gradient-dark-b)
      ),
      var(--bg-color-dark);
    width: 100%;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}
