@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");
:root {
  /* dark mode */
  --bg-img-dark: url("./images/pics/hive.svg");
  --bg-img-portrait-dark: url("./images/pics/hive-portrait.svg");

  /* light mode */
  --bg-img-light: url("./images/pics/light-hive.svg");
  --bg-img-portrait-light: url("./images/pics/light-vertical-hive.svg");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  display: flex;
}
/* ::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: var(--bg-card-dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-card-dark);
  outline: none;
  border-radius: 10px;
  width: 10px;
} */
#root {
  background: var(--bg-img-dark),
    linear-gradient(
      180deg,
      var(--bg-gradient-a-dark),
      var(--bg-gradient-b-dark)
    ),
    var(--bg-color-dark);
  background-size: 100% 100%, 100% 100%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  position: relative;
}
.App {
  margin: auto;
  max-width: 1600px;
  height: 100%;
}
.link {
  display: flex;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
span,
p,
h1,
h2,
h3,
h4 {
  color: var(--text-color-dark);
}
@media (orientation: portrait) {
  #root {
    background: var(--bg-img-portrait-dark),
      linear-gradient(
        180deg,
        var(--bg-gradient-a-dark),
        var(--bg-gradient-b-dark)
      ),
      var(--bg-color-dark);
    width: 100%;
    background-size: 100% 100%, 100% 100%;
    min-height: 100vh;
  }
}
